<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>TRANSYSTO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="stylesheet.css" />
    </head>
    <body>
    <!--body-->
    <div class="flex-container">
      <!--left side-->
      <div class="flex-child left">
        <div class="left">
        <div class="title">TRANSYSTO</div>
        <div class="tagline">
          <p><strong>Language matters!</strong></p>
          <p><strong>Translating masters!</strong></p>
        </div>
        <div class="box1">
          <form>
          <input type="text"
            id="text"
            name="text"
            value="Enter your text here"
            size="20"
          />
          <select id="language" name="language">
            <option value="language">Select language</option>
            <option value="odia">odia</option>
            <option value="english">english</option>
            <option value="hindi">hindi</option>
          </select>
          </form>
        </div>
        <div class="submit">
          <form>
          <input type="submit" id="submit" value="translate" />
          </form>
        </div>
        <div class="box2">
          <form>
          <input type="text"
            id="text"
            name="text"
            value="Enter your text here"
            size="20"
          />
          <select id="language" name="language">
            <option value="language">Select language</option>
            <option value="odia">odia</option>
            <option value="english">english</option>
            <option value="hindi">hindi</option>
          </select>
          </form>
        </div>
        </div>
      </div>
      <!--right side-->
      <div class="flex-child right">
        <div class="right">
        <div class="about">
          <div class="ah1"><h1>About</h1></div>
          <div class="ah3"> <p><h3>
            "The limits of my language mean the limits of my world." One
            language sets you in a corridor for life.<br />
            Two languages open every door along the way. Unable to decipher any
            language ? <br />
            Well, well.... TRANSYSTO- your private translation partner, is here
            to melt away the ice of confusion.<br />
            A widget that translates the web page content into 3 different
            languages - Odia, Hindi and English to get crystal clarity.<br />
            A much required forum by the people, of the people and for the
            people !<br /></h3>
          </p></div>
        </div>
        </div>
      </div>
    </div>

  </body>
</html>
